.Result {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1px 5px;
  border: 2px solid transparent;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s all;
}

.CurrentQuestion {
  background: linear-gradient(to top, orange, gold, orange);
  text-shadow: 2px 1px #111;
  border: 2px solid silver;
  border-radius: 20px;
}

.Guaranteed {
  color: #fff;
}

.ResultNumber {
  position: absolute;
  left: 5px;
}

@media (max-width: 750px) {
  .Result {
    font-size: 1.1rem;
    padding: 0 5px;
  }
}
