.Quest {
  text-align: center;
  padding: 1rem 1rem;
  width: 100%;
  border-radius: 20px;
  background-color: #111;
  color: #efefef;
  font-size: 1rem;
  margin: 0.5rem 0;
  border: 2px solid silver;
  transition: 0.2s all;
}

.AnswerRow {
  display: flex;
}

.AnswerBox {
  flex: 1;
}

.Answer:hover {
  background-color: orange;
  cursor: pointer;
}

.Answer {
  text-align: left;
}

@media (max-width: 600px) {
  .AnswerRow {
    display: block;
  }
}
