div.contact--container.page-container {
  flex-direction: column;
}

div.contact--container.page-container h2.contact-header {
  font-size: 2rem;
}

div.contact--container form.contact-form > * {
  display: block;
  margin: 1rem auto;
}

div.contact--container form.contact-form textarea.message {
  width: 400px;
  height: 200px;
  resize: none;
  font-size: 1.3rem;
}

div.contact--container form.contact-form input.contact-email {
  font-size: 1.2rem;
  padding: 0.4rem;
}

div.contact--container form.contact-form button.submit--message__btn {
  margin-top: 2rem;
}

@media (max-width: 750px) {
  div.contact--container form.contact-form {
    width: 100%;
  }

  div.contact--container form.contact-form textarea.message {
    width: 90%;
  }
}
