div.error--container {
  flex-direction: column;
}

div.error--container h2.error--handler__header {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

div.error--container h3.error--handler__caption {
  font-size: 2rem;
}
