.homePage {
  text-align: center;
  height: 100vh;
  max-width: 968px;
  min-height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header.header {
  border-bottom: 2px solid;
}

header.header h1 {
  font-size: 3rem;
  font-family: Copperplate Gothic;
  margin: 2rem 0;
}

@media (max-width: 900px) {
  .homePage {
    min-width: 300px;
    min-height: 600px;
  }
}

@media (max-width: 400px) {
  header.header h1 {
    font-size: 2.2rem;
  }
}
