:root {
  --main-color: #4169e1;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.App {
  height: calc(var(--vh, 1vh) * 100);
  min-width: 900px;
  width: 100%;
  background-color: var(--main-color);
  color: #efefef;
  overflow: hidden;
}

.App > div {
  height: 100%;
}

div.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 500px;
  margin: 0 auto;
}

button.main--btn {
  position: relative;
  width: 150px;
  padding: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem auto;
  border-radius: 4px;
  border: none;
  border: 4px solid #efefef;
  font-size: 1rem;
  letter-spacing: 2px;
  background-color: transparent;
  color: #efefef;
  cursor: pointer;
}

button.main--btn::before,
button.main--btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: var(--main-color);
  transition: 0.3s all;
}

button.main--btn::before {
  top: -4px;
  left: 10%;
  transform: skew(50deg);
}

button.main--btn::after {
  bottom: -4px;
  right: 10%;
  transform: skew(-50deg);
}

button.main--btn:hover::before {
  left: 70%;
}
button.main--btn:hover::after {
  right: 70%;
}

article.about--game {
  font-size: 1.1rem;
  text-align: justify;
}

article.about--game h2 {
  text-align: center;
}

.fade-appear,
.fade-enter {
  transform: scale(1.1);
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  transform: scale(1);
  transition: transform 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: transform 1050ms linear;
}

@media (max-width: 900px) {
  .App {
    min-width: 300px;
  }

  .fade-appear,
  .fade-enter {
    transform: translateX(-100%);
    z-index: 1;
  }
}

@media (max-width: 750px) {
  .App {
    height: 100%;
  }

  div.page-container {
    width: 100%;
  }

  article.about--game {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
