div.resultBoard ul.resultBoard--list {
  padding: 0;
  margin: 0;
  list-style: none;
}

div.resultBoard ul.resultBoard--list li.result {
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1px 5px;
  border: 2px solid transparent;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s all;
}

div.resultBoard ul.resultBoard--list li.result.currentQuestion {
  background: linear-gradient(to top, orange, gold, orange);
  text-shadow: 2px 1px #111;
  border: 2px solid silver;
  border-radius: 20px;
}

div.resultBoard ul.resultBoard--list li.result.guaranteed {
  color: #fff;
}

div.resultBoard ul.resultBoard--list li.result span.result--number {
  position: absolute;
  left: 5px;
}

@media (max-width: 750px) {
  div.resultBoard {
    margin-left: 0;
  }
}
