.PlayerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--main-color);
  z-index: 10;
  overflow: hidden;
}

.PlayerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.PlayerForm > * {
  margin: 1rem 0;
}

.InputContainer {
  position: relative;
}

.PlayerLabel {
  font-size: 2rem;
  font-weight: bold;
}

.PlayerInput {
  font-size: 1.1rem;
  padding: 0.5rem 0.3rem;
  margin-right: 1rem;
  border: 2px solid transparent;
  transition: 0.3s all;
}

.InvalidInput {
  position: absolute;
  top: 25%;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
  color: crimson;
}

@media (max-width: 500px) {
  .InvalidInput {
    position: relative;
    display: block;
  }
}

@media (max-width: 400px) {
  .PlayerContainer {
    align-items: initial;
  }

  .PlayerForm {
    margin-top: calc(50vh - 30%);
  }
}
