.HomePage {
  text-align: center;
  height: 100vh;
  max-width: 968px;
  min-height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  border-bottom: 2px solid;
}

.Header h1 {
  font-size: 3rem;
  font-family: Copperplate Gothic;
  margin: 2rem 0;
}

@media (max-width: 900px) {
  .HomePage {
    min-width: 300px;
    min-height: 600px;
  }
}

@media (max-width: 400px) {
  .Header h1 {
    font-size: 2.2rem;
  }
}
