.Ranking {
  min-height: 500px;
  width: 500px;
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  border: 2px solid #efefef;
  border-radius: 10px;
}

.Ranking li {
  position: relative;
  font-weight: bold;
  padding: 1rem 0;
  border-top: 2px solid #efefef;
}

.Ranking li span {
  position: absolute;
  left: 2rem;
}

@media (max-width: 750px) {
  .RankingContainer {
    width: 100%;
  }

  .Ranking {
    width: 90%;
    font-size: 1.6rem;
    min-height: 450px;
  }

  .Ranking li span {
    left: 1rem;
  }
}
