:root {
  --main-color: #4169e1;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  min-height: 600px;
  min-width: 900px;
  width: 100%;
  background-color: var(--main-color);
  color: #efefef;
  overflow: hidden;
}

div.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  width: 500px;
  margin: 0 auto;
}

button.main--btn {
  position: relative;
  width: 150px;
  padding: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem auto;
  border-radius: 4px;
  border: none;
  border: 4px solid #efefef;
  font-size: 1rem;
  letter-spacing: 2px;
  background-color: transparent;
  color: #efefef;
  cursor: pointer;
}

button.main--btn::before,
button.main--btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: var(--main-color);
  transition: 0.3s all;
}

button.main--btn::before {
  top: -4px;
  left: 10%;
  transform: skew(50deg);
}

button.main--btn::after {
  bottom: -4px;
  right: 10%;
  transform: skew(-50deg);
}

button.main--btn:hover::before {
  left: 70%;
}
button.main--btn:hover::after {
  right: 70%;
}

article.about--game {
  font-size: 1.1rem;
  text-align: justify;
}

article.about--game h2 {
  text-align: center;
}

div.fullscreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: transparent;
}

div.fullscreen {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
}

div.fullscreen > * {
  width: 33%;
  margin: 0 auto;
}

div.board {
  flex: 1;
  background-color: #111;
  border: 2px solid silver;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}

div.board:nth-child(1) {
  margin-right: 1rem;
}

div.board:nth-child(2) {
  margin-left: 1rem;
}

button.disabled--btn:hover {
  background-color: #111;
  cursor: default;
}

button.disabled--btn:focus {
  outline: none;
}

@media (max-width: 900px) {
  .App {
    min-width: 300px;
  }
}

@media (max-width: 750px) {
  .App {
    height: 100%;
  }

  div.page-container {
    width: 100%;
  }

  article.about--game {
    padding: 0.5rem;
    font-size: 1rem;
  }

  div.fullscreen > * {
    width: 100%;
  }

  div.board:nth-child(1),
  div.board:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }

  div.board {
    height: 320px;
    padding: 0.5rem;
  }
}
